#APP_NAME="Projeto JWT"
#APP_DEBUG=true
#APP_URL=http://localhost:8080
#APP_CREDENTIALS=true
# Criar a credencial com php -r "echo bin2hex(random_bytes(32));"
#APP_KEY=

#DB_CONNECTION =mysql
#DATABASE_HOST =127.0.0.1
#DB_PORT =3306
#DB_NAME =JTW
#DB_USER =root
#DB_PASSWORD =